
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (@ViewBag.msg !=null)
{
<div class="alert alert-danger ">
    @ViewBag.msg
    </div>
}
@using (Html.BeginForm("Login", "Auth"))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("User ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("userid", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("password","", new { @class = "form-control text-box single-line" }  )
            </div>
        </div>
        <div>
            <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}